<%= render "shared/banner" %><br>
<h1 class="text-muted">My Portfolio</h1>
 <table class="table">
            <thead>
                <tr >
                <th scope="col">Ticker Symbol</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
            <% @stock.keys.each do |stock|%>
                <tr>
                <td><%=stock[0]%></td> 
                <td><%= @stock[stock]%></td>
                <td><%=stock[1]%></td>
                <td><%=stock[1]*@stock[stock]%></td>
                </tr>
            <% end %>
            </tbody>
            </table>