<%= render "shared/banner" %><br>

<div class = 'center'>
<%if current_user.role_id === 2 %>
     <h6>Balance: <%= number_to_currency(@user.balance, precision:2) %></h6>
      <%else%>
<%end%>
</div>


<% if @role_name == "Broker"%>
<div class="search-bar">
<%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Type code here.", class: "form-control input-code" %>  
    
    <div class="input-group-btn">  
      <%= button_tag "Search", :class => 'btn btn-light',:name => nil%> <i class="fas fa-search-dollar dollar"></i> 
    </div>  
    
  </div>  
<% end %>
<% end %>
<%# <%=link_to 'Go to buy page', buy_page_path %> 
</div>
<% if @is_admin %>
<h1>Users List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Status</th>
    <th>Toggle Status</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role.role_name %></td>
      <td><%= user.status %></td>
      <td><%= link_to "Toggle", user_toggle_status_path(user.id), method: :patch %><td>
    </tr>
  <% end %>
</table>
<% end %>
