<%= render "shared/banner" %><br>

<h1 class="text-muted">Transactions</h1>

  <table class="table">
  <thead>
      <tr >
      <th scope="col">Date</th>
      <th scope="col">Ticker Symbol</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
     
      </tr>
  </thead>
  <tbody>
  <% @user_transaction.each do |transaction|%>

      <tr>
      <td><%=transaction.created_at.strftime("%Y-%m-%d")%></td> 
      <td><%=transaction.stock_code%></td>
      <td><%=transaction.quantity%></td>
      <td><%=transaction.price%></td>
      </tr>
      
  <% end %>
  </tbody>
</table>

